/*  WELCOME PAGE  */
* {
    box-sizing: border-box;
}

body {
    background-color: #eae6e6;
}

/*  QUESTION CARD  */
.answers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 800px;
    margin: 0 auto;
}

.answers-paragraph button {
    height: 30px;
    width: 100%;
}

.answers-paragraph:nth-child(odd) {
    text-align: right;
}

.question {
    text-align: center;
}

.number-of-question {
    text-align: center;
}

.appropriate-button {
    width: 160px;
    margin: 0 auto;
}

.appropriate-button button, .button-back-to-menu {
    width: 100%;
}

.appropriate-button button {
    height: 40px;
}

.back-to-menu {
    width: 120px;
    margin: 0 auto;
}

.inactive-button {
    background-color: -moz-default-background-color;
}

.clicked-button {
    background-color: lightgray;
}

/*  MEDIA QUERIES  */
@media screen and (max-width: 991px) {
    .answers {
        width: 95%;
    }

    .answers-paragraph button {
        height: 40px;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .answers {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .answers .answers-paragraph {
        text-align: center;
        margin-bottom: 0;
    }

    .answers-paragraph button {
        width: 80%;
    }

    .question-card {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .answers-paragraph button {
        width: 100%;
    }

    .appropriate-button {
        width: 100%;
    }
}